<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">
<head>
  <meta charset="utf-8">
  <title>Global College Rank</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/img/favicon.jpeg" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/self-defined.css" rel="stylesheet">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="javascripts/app.js" type="text/javascript"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.css"/>
  <script>document.write('<base href="' + document.location + '" />');</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.7/angular-nvd3.min.js"></script>


  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
    <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1 style="color: white">Edu Fact Book</h1>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

     <nav id="nav-menu-container" style="margin-top: 10px">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li class="menu-active"><a href="/rank">College Rank</a></li>
          <li><a href="/game">Start A Family</a></li>
          <li><a href="/school">Find Great School</a></li>
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    EDUCATION VS INCOME
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/income">By-state Information</a></li>
                    <li><a href="/general-stats">General Stats</a></li>
                    <li><a href="/mongo-infor">Data on Google Map</a></li>
                </ul>
            </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="college_section">

    <div class="schedule_div" align="center" ng-controller="top100avgController">
      <div class="filter">
      <div><a href="#general">Top 100 General</a></div>
      <div><a href="#growth">Top 100 Potential</a></div>
      <div class="search_div">
        <div class="search_input">
        <input type="text" name="college_name" placeholder="Search colleges" class="search" ng-model="college_name" ng-keyup="autocomplete()"><i class="fa fa-search" style="width: 25px" ng-click="search()"></i>
        </div>
        <div class="hint" id="hint" ng-show="ifshow">
          <div ng-show="noresult" style="">No result</div>
          <div ng-show="result" style="">
            <ul>
              <li ng-repeat="n in return_res"><a href="/college?cid={{n.Institution_id}}">{{n.Institution}}</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
      <h2>Top 100 Universities in All Ranking</h2>
      <div class="table_div">
      <table class="schedule">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Institution</th>
            <th>Location</th>
            <th>QS</th>
            <th>THE</th>
            <th>ARWU</th>
            <th>USNEWS</th>
            <th>Average</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="m in top100avg">
            <td ng-if="m.id%2!=0" class="alt0">{{m.id}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.Institution}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.Location}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.QS_Rank}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.THE_Rank}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.ARWU_Rank}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.USNEWS_Rank}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.Average}}</td>

            <td ng-if="m.id%2==0" class="alt">{{m.id}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.Institution}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.Location}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.QS_Rank}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.THE_Rank}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.ARWU_Rank}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.USNEWS_Rank}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.Average}}</td>

          </tr>       
        </tbody>
      </table>
    </div>
    </div>

    <div class="schedule_div" align="center" ng-controller="top100growController">
      <h2>Top 100 Universities with Best Potential</h2>
      <div class="table_div">
      <table class="schedule">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Institution</th>
            <th>Location</th>
            <th>Rank_2015</th>
            <th>Rank_2019</th>
            <th>Growth</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="m in top100grow">
            <td ng-if="m.id%2!=0" class="alt0">{{m.id}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.Institution}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.Location}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.Rank_2015}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.Rank_2019}}</td>
            <td ng-if="m.id%2!=0" class="alt0">{{m.growth}}</td>

            <td ng-if="m.id%2==0" class="alt">{{m.id}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.Institution}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.Location}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.Rank_2015}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.Rank_2019}}</td>
            <td ng-if="m.id%2==0" class="alt">{{m.growth}}</td>

          </tr>       
        </tbody>
      </table>
    </div>
    </div>
  </section>
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Author: <strong>Zezhong Yu,Bo Lyu,Shuai Zheng,Rui Li</strong>
      </div>
      <div class="credits">
        Final Project for CIS 550 2019 Spring 
      </div>
    </div>
  </footer>
  <!-- JavaScript Libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>

  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>

</body>
</html>
