<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Average Annual Salary - 2018</title>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/bootstrap/bootstrap4-alpha3.min.css">
		
		<style>
			body {
				background-color: #fafafa;
				font-size: 16px;
				line-height: 1.5;
			}
			
			h1,h2,h3,h4,h5,h6 {
				font-weight: 400;	
			}
			
			#header {
				border-bottom: 5px solid #37474F;
				color: #37474F;
				margin-bottom: 1.5rem;
				padding: 1rem 0;
			}
			
			#revenue-tag {
				font-weight: inherit !important;
				border-radius: 0px !important;
			}
			
			.card {
				border: 0rem;
				border-radius: 0rem;
			}
			
			.card-header {
				background-color: #37474F;
				border-radius: 0 !important;
				color:	white;
				margin-bottom: 0;
				padding:	1rem;
			}
			
			.card-block {
				border: 2px solid #cccccc;	
			}
			
			.shadow {
				box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
										0 1px 18px 0 rgba(0, 0, 0, 0.12),
										0 3px 5px -1px rgba(0, 0, 0, 0.2);
			}
			
			#revenue-column-chart,  #chartContainer,#employee-salary-chart, #produce-cost {
				height: 400px;
				width: 100%;
			}
	

		  #footer1{
		    position:fixed;
		    right:0;
		    bottom:0;
		}
		#footerback1{
		    text-align: center;        
		    width: 100px;
		    float: left;
		    border: 2px solid black;      
		}				
		</style>
		
		<!-- Scripts -->
		<script src="assets/jquery/jquery-3.1.0.min.js"></script>
		<script src="assets/tether/tether.min.js"></script>
		<script src="assets/bootstrap/bootstrap4-alpha3.min.js"></script>
		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	
		<script>
			$(function () {
				
				// CanvasJS column chart to show revenue from Jan 2015 - Dec 2015
				var revenueColumnChart = new CanvasJS.Chart("revenue-column-chart", {
			           animationEnabled: true,
			            
			            title:{
			              text:"Average Income of 50 States"
			            },
			            axisX:{
			              interval: 0.5
			            },
			            axisY2:{
			              interlacedColor: "rgba(1,77,101,.2)",
			              gridColor: "rgba(1,77,101,.1)",
			              title: "Average Annual Income of Each State"
			            },
			            data: [{
			              type: "bar",
			              name: "states",
			              axisYType: "secondary",
			              color: "#014D65",
			              dataPoints: [
			            {y:177526.254, label:'Massachusetts'},
			            {y:145183.1587, label:'Michigan'},
			            {y:142418.0794, label:'Tennessee'},
			            {y:141069.7689, label:'New York'},
			            {y:125835.381, label:'New Mexico'},
			            {y:123700.127, label:'South Dakota'},
			            {y:119215.3333, label:'Hawaii'},
			            {y:118385.2261, label:'Washington'},
			            {y:114969.8571, label:'Pennsylvania'},
			            {y:109939.8518, label:'California'},
			            {y:107979.0794, label:'Idaho'},
			            {y:105417.0159, label:'Wisconsin'},
			            {y:105337.9246, label:'New Jersey'},
			            {y:103732.9048, label:'New Hampshire'},
			            {y:103203.0952, label:'Maine'},
			            {y:101536.9683, label:'Rhode Island'},
			            {y:96094.6984, label:'North Carolina'},
			            {y:91606.746, label:'Nevada'},
			            {y:88462.9518, label:'Arizona'},
			            {y:88116.4603, label:'Louisiana'},
			            {y:87907.2482, label:'Colorado'},
			            {y:87401.6984, label:'West Virginia'},
			            {y:86562.2643, label:'Arkansas'},
			            {y:86226.3333, label:'Texas'},
			            {y:84719.7302, label:'Utah'},
			            {y:84380.3857, label:'Georgia'},
			            {y:84174.4127, label:'Wyoming'},
			            {y:83725.4339, label:'Florida'},
			            {y:83470.5571, label:'Connecticut'},
			            {y:83302.4444, label:'Maryland'},
			            {y:82837.7411, label:'Delaware'},
			            {y:81622.619, label:'South Carolina'},
			            {y:81315.9048, label:'North Dakota'},
			            {y:80743.9365, label:'Mississippi'},
			            {y:80432.0794, label:'Indiana'},
			            {y:79769.7302, label:'Illinois'},
			            {y:79077.8571, label:'Kentucky'},
			            {y:78486.8107, label:'Alaska'},
			            {y:76696.381, label:'Oregon'},
			            {y:75583.6984, label:'Minnesota'},
			            {y:72218.4762, label:'Nebraska'},
			            {y:70157.2857, label:'Ohio'},
			            {y:70046.1839, label:'Alabama'},
			            {y:68304.9524, label:'Vermont'},
			            {y:59337.0159, label:'Kansas'},
			            {y:58007.1905, label:'Iowa'},
			            {y:55987.8571, label:'Virginia'},
			            {y:55711.6984, label:'Oklahoma'},
			            {y:54403.8095, label:'Missouri'},
			            {y:48150.5556, label:'Montana'},
			              ]
			            }]
			          });
				revenueColumnChart.render();
				
				//CanvasJS pie chart to show product wise annual revenue for 2015
				var employmentsalarychart = new CanvasJS.Chart("employee-salary-chart", {
			        exportEnabled: true,
			          animationEnabled: true,
			          title:{
			            text: "General Statistics of Race Distribution"
			          },
			          legend:{
			            cursor: "pointer",
			            itemclick: explodePie
			          },
			          data: [{
			            type: "pie",
			            showInLegend: true,
			            toolTipContent: "{name}: <strong>{y}%</strong>",
			            indexLabel: "{name} - {y}% - number - {number}",
			            dataPoints: [


			              { y: 25.67, name: 'White', number: 2567, exploded: true },
			              { y: 24.28, name: 'Hispanic or Latino' , number: 2428 },

			              { y: 25.17, name: 'Black or African American', number: 2517 },
			              { y: 24.86, name: 'Asian' , number: 2486}
			              ]
			          }]
			        });
				employmentsalarychart.render();

				function explodePie (e) {
				  if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
				    e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
				  } else {
				    e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
				  }
				  e.employmentsalarychart.render();}


				var chart = new CanvasJS.Chart("chartContainer", {
					animationEnabled: true,
					title:{
						text: "Popular Majors for Jobhunting"
					},
					data: [{
						type: "funnel",
						indexLabel: "{label} - {y}",
						toolTipContent: "<b>{label}</b>: {y} <b>({percentage}%)</b>",
						neckWidth: 20,
						neckHeight: 0,
						valueRepresents: "area",
						dataPoints: [
						{y: 62, label: "Business"},
						{y: 43, label: "Engineering"},
						{y: 43, label: "Nature Science"},
						{y: 35, label: "Social Science"},
						{y: 24, label: "Computer Science & Math"},
						{y: 23, label: "Repair, Production & Construction"},
						{y: 15, label: "Communication"},
						{y: 10, label: "Natural Science"},
						{y: 8, label: "Area & Ethnic Studies"},
						{y: 6, label: "Architecture"},
						{y: 4, label: "Agriculture & Natural Resources Conservation"},
						{y: 2, label: "Education"},
						{y: 1, label: "Language Studies"},
						{y: 1, label: "Social Services"}
						]
					}]
				});
				calculatePercentage();
				chart.render();

				function calculatePercentage() {
					var dataPoint = chart.options.data[0].dataPoints;
					var total = dataPoint[0].y;
					for(var i = 0; i < dataPoint.length; i++) {
						if(i == 0) {
							chart.options.data[0].dataPoints[i].percentage = 100;
						} else {
							chart.options.data[0].dataPoints[i].percentage = ((dataPoint[i].y / total) * 100).toFixed(2);
						}
					}
				}

				//CanvasJS spline chart to show orders from Jan 2015 to Dec 2015
				var productExpenseChart = new CanvasJS.Chart("produce-cost", {
					  animationEnabled: true,
					    exportEnabled: true,
					    title: {
					      text: "Employees Salary for Different Levels of Management Hierarchy"
					    },
					    axisX: {
					      title: "Levels of Management Hierarchy"
					    },
					    axisY: {
					      includeZero: false,
					      title: "Salary in USD with 1000 as Base",
					      interval: 50,
					      prefix: "$"
					    }, 
					    data: [{
					      type: "rangeBar",
					      showInLegend: true,
					      yValueFormatString: "$#0.#K",
					      indexLabel: "{y[#index]}",
					      legendText: "Department with Min and Max Salary",
					      toolTipContent: "<b>{label}</b>: {y[0]} to {y[1]}",
					      dataPoints: [
					        { x: 10, y:[114.438, 520.982], label: 'President' },
					        { x: 20, y:[112.561, 443.274], label: 'Chief Executive Officer' },
					        { x: 30, y:[84.313, 420.194], label: 'Vice President' },
					        { x: 40, y:[90.562, 231.519], label: 'Chief Officer'},
					        { x: 50, y:[53.756, 349.193], label: 'Manager' },
					        { x: 60, y:[42.457, 189.186], label: 'Director'},
					        { x: 70, y:[36.785, 106.893], label: 'Employee' }
					      ]
					    }]
					  });
					  productExpenseChart.render();
			});

		</script>
		
	</head>
	<body>
		<div class="container">
			<h2 id="header">
				<strong>General Statistics</strong>
				<small class="text-muted">Jan 2018 - Dec 2018</small>
			</h2>
			
			<div class="row m-b-1">
				<div class="col-xs-12">
					<div class="card shadow">
						<h4 class="card-header">Average Salary for All States<span class="tag tag-success" id="revenue-tag">$91409.8635</span></h4>
						<div class="card-block">
							<div id="revenue-column-chart"></div>
						</div>
					</div>
				</div>
			</div> <!-- row -->

			<div class="row m-b-1">
				<div class="col-lg-6">
					<div class="card shadow">
						<h4 class="card-header">Race Statistics</h4>
						<div class="card-block">
							<div id="employee-salary-chart"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="card shadow">
						<h4 class="card-header">Major Statistics</h4>
						<div class="card-block">
							<div id="chartContainer"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row m-b-1">
				<div class="col-xs-12">
					<div class="card shadow">
						<h4 class="card-header">Education vs Salary Statistics</h4>
						<div class="card-block">
							<div id="produce-cost"></div>
						</div>
					</div>
				</div>
			</div> <!-- row -->


		</div> <!-- container -->




    <div id="footer1">
      <div id="footerback1">
          <button type="button" value="Back" onClick="location.href='http://localhost:8081/income'"> Back to EDUCATION VS INCOME</button>
      </div>
    </div>

	</body>
</html>