<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">
<head>
  <meta charset="utf-8">
  <title>Game</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/img/favicon.jpeg" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="javascripts/app.js" type="text/javascript"></script>

  <!-- d3.js scatter plot dependency-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.css"/>
  <script>document.write('<base href="' + document.location + '" />');</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.7/angular-nvd3.min.js"></script>


  <!-- Main Stylesheet File -->
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/self-defined.css" rel="stylesheet">


  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1 style="color: white">Edu Fact Book</h1>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

     <nav id="nav-menu-container" style="margin-top: 10px">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/rank">College Rank</a></li>
          <li class="menu-active"><a href="/game">Start A Family</a></li>
          <li><a href="/school">Find Great School</a></li>
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    EDUCATION VS INCOME
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/income">By-state Information</a></li>
                    <li><a href="/general-stats">General Stats</a></li>
                    <li><a href="/mongo-infor">Data on Google Map</a></li>
                </ul>
            </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  <!--==========================
    Hero Section
  ============================-->
  <section id="game_section">
      <div class="schedule_div sims-container" ng-controller="simsController" style="height: 100%">
              <hr class="empty">
              <hr class="empty">
              <hr class="empty">
              <hr class="empty">
              <hr class="empty">
              <hr class="empty">
              <div class="jumbotron" style="width: 80%;margin: auto">
              <div class="h3 headline">Let's play a SIMS game :)</div>
              <hr class="empty">
              <hr class="empty">
              <div class="form-group">
                <label for="">Choose your race: </label>
                <select class = "custom-select" ng-model="selectedRace" ng-options="x.Race for x in races"></select>
              </div>
              <div class="form-group">
                  <label for="">Choose your gender: </label>
                  <select class = "custom-select" ng-model="selectedGender" ng-options="y.Gender for y in genders"></select>
              </div>
              <div class="form-group">
                  <label for="">Choose your state of born: </label>
                  <select class = "custom-select" ng-model="selectedState" ng-options="z.StateName for z in states"></select>
              </div>
              <div class="submit_button">
                <button id = 'begin' type = "button" class="btn btn-outline-secondary" name = "Submit" ng-click = "first_gen()">Begin</button>
              </div>
              <div id='s11' style="margin-top: 30px">
                <label>Current generation:{{gen}}</laebel>
              </div>
              <div id='s12'>
                <label>Goes to: {{uni}} in {{s_state}}</label>
              </div>  
              <div id='s13'>
                <label>Lives at: {{sta}}</label>
              </div>
              <div id='s14' style="margin-top: 30px">
                <label>Choose one to marry with: </label>
              </div>
              <div id='s15'>
                <table align="center">
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr> 
                    <td >{{human.results[0].name.first}}</td>
                    <td>{{human.results[0].name.last}}</td>
                    <td><img ng-src = {{human.results[0].picture.large}}></td>
                    <td><input type="radio" name="a" value=1><br></td>
                  </tr>
                  <tr>
                    <td>{{human.results[1].name.first}}</td>
                    <td>{{human.results[1].name.last}}</td>
                    <td><img ng-src = {{human.results[1].picture.large}}></td>
                    <td><input type="radio" name="a" value=2><br></td>
                  </tr>
                  <tr>
                    <td>{{human.results[2].name.first}}</td>
                    <td>{{human.results[2].name.last}}</td>
                    <td><img ng-src = {{human.results[2].picture.large}}></td>
                    <td><input type="radio" name="a" value=3></td>
                  </tr>
                </table>
                <button id = 'start' type = "button" class="btn btn-outline-secondary" name = "Submit" ng-click = "baby()" style="margin-top: 10px">Start this family</button>
              </div>
              <div id = 's21' style="margin-top: 30px">
                <label>Your baby is --- {{baby_s}}</label>
              </div>
              <div id = 's22'>
                <img ng-src = {{baby_pic}} width = '200' height = '200'>
              </div>
              <div class="but" id = 's23' style="margin-top: 15px">
                  <button type = "button" class="btn btn-outline-secondary" name = "Go" ng-click = "next_gen()" onlick = "Clear();">See Next Generation</button>
              </div>
          

         <!-- <a href="/dashboard" class="fixedbutton"> <botton class= 'btn btn-primary' id = 'Dashboard'>Dashboard </a> -->
        </div>
  </section><!-- #hero -->
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Author: <strong>Zezhong Yu,Bo Lyu,Shuai Zheng,Rui Li</strong>
      </div>
      <div class="credits">
        Final Project for CIS 550 2019 Spring 
      </div>
    </div>
  </footer>

  <!-- JavaScript Libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>

  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>
  <script>
      $(document).ready(function(){
        $("#s11").hide();
        $("#s12").hide();
        $("#s13").hide();
        $("#s14").hide();
        $("#s15").hide();
        $("#s21").hide();
        $("#s22").hide();
        $("#s23").hide();

        $("#begin").click(function(){
          $('#s11').show();
          $("#s12").show();
          $("#s13").show();
          $("#s14").show();
          $("#s15").show();
        });

        $("#start").click(function(){
          $('#s21').show();
          $("#s22").show();
          $("#s23").show();
        });


      });
  </script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>

</body>
</html>
