/*This class displays the UP arrow*/
.arrow-up {
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-bottom: 10px solid black;
     display:inline-block;
}
 .nv-axislabel {
    font-size: 18px !important;
}

/* .nv-x text{
  font-size: 50px;
  fill: blue;
}
.nv-y text{
  font-size: 50px;
  fill:red;
} */
/*
.nvd3 text {
  font: normal 25px sans-serif !important;
}
.nvd3 .title {
  font: normal 20px sans-serif !important;
} */
/*This class displays the DOWN arrow*/
.arrow-down {
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-top: 10px solid black;
     display:inline-block;
}

th {

    text-align: left;
    /*cursor property displays hand symbol
        when hovered over the th element*/
    cursor: pointer;
}


.pagination>li>a, .pagination>li>span {
    position: relative;
    float: right;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.tips {
  float: left;
}
.dropdown-menu {
        width: 300px;
}
.thumbnail{
   float:left;
    width: 60px;
  }

#my-signin2 .signedIn{
    opacity: 0;
}
